/* .cards {
  /* display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  min-width: 200px;
  height: 300px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99); */

  /* width: 300px;
  height: 295px;
  border-radius: 16px;
  gap: 12px;
  padding-top: 20px 18px;
  background: #0f0d23;
  box-shadow: 0px 12px 32px 0px #cecefb05 inset;
  backdrop-filter: blur(16px);
} */

/* .cards:hover {
    transform: scale(1.2);
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.cards__img {
    height: 300px;
}

.cards__overlay {
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    bottom: 0px;
    height: 290px;
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: flex-end;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 0;
    transition: opacity .2s;
}   

.cards__overlay:hover {
    opacity: 1;
}

.card__title {
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.card__runtime {
    font-size: .75rem;
    margin-bottom: 0.25rem;
}

.card__rating {
    float: right;
}

.card__description {
    font-style: italic;
    font-size: .75rem;
    margin-bottom: 0.25rem;
} */

.movie-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 12px;
  padding: 20px 18px;
  transition: transform 0.2s;
  position: relative;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  min-width: 200px;
  height: 300px;
  z-index: 0;
  /* border: 1px solid rgb(99, 99, 99); */
  border-radius: 16px;
  background: #0f0d23;
  box-shadow: 0px 0px 100px 0px #ab8bff4d;
}

.cards_img {
  width: 200px;
  height: 183px;
  border-radius: 16px;
  object-fit: cover;
}

.cards_title {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cards_title h3 {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  /* line-height: 24px; */
  color: #ffffff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.content span {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  color: #9ca4ab;
}

.content span + p {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  color: #9ca4ab;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.ratings > i {
  color: #ffea00;
}

.ratings > p {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #ffffff;
}
